<a href="https://colab.research.google.com/github/yoonyoung27/prac_class/blob/main/M1F4_team_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#✓ Import train.csv

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv', encoding='cp949')  # CSV파일에 한글로 된 내용이 있는 경우
train.head()

   num      date_time  전력사용량(kWh)  기온(°C)  ...  강수량(mm)  일조(hr)  비전기냉방설비운영  태양광보유
0    1  2020-06-01 00    8179.056    17.6  ...      0.8     0.0        0.0    0.0
1    1  2020-06-01 01    8135.640    17.7  ...      0.3     0.0        0.0    0.0
2    1  2020-06-01 02    8107.128    17.5  ...      0.0     0.0        0.0    0.0
3    1  2020-06-01 03    8048.808    17.1  ...      0.0     0.0        0.0    0.0
4    1  2020-06-01 04    8043.624    17.0  ...      0.0     0.0        0.0    0.0

[5 rows x 10 columns]

* num : 건물번호
* date_time : 시간

In [3]:
train.columns = ['num','datetime','usage','temperature','windspeed','humidity','precipitation','sunshine','non_elec_fac','solar_fac']

* train 데이터의 column 명을 영어로 변경

#✓ EDA

In [4]:
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import sklearn
from sklearn.linear_model import *
from sklearn.cluster import KMeans

import warnings
warnings.filterwarnings('ignore')

* 버전이 업데이트 되었거나, 더 좋은 방법을 추천해 주기 위해서 뜨는 경고창 혹은, 런타임 에러 등 다양한 이유로 발생하는 경고창을 무시

In [5]:
eda = train.copy()

* train 데이터를 보존하기 위해 eda 데이터로 복사

In [6]:
eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   num            122400 non-null  int64
 1   datetime       122400 non-null  object
 2   usage          122400 non-null  float64
 3   temperature    122400 non-null  float64
 4   windspeed      122400 non-null  float64
 5   humidity       122400 non-null  float64
 6   precipitation  122400 non-null  float64
 7   sunshine       122400 non-null  float64
 8   non_elec_fac   122400 non-null  float64
 9   solar_fac      122400 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 9.3+ MB

* 모든 column에 null값이 존재하지 않음

In [7]:
eda['num'].value_counts()

60    2040
59    2040
28    2040
27    2040
26    2040
25    2040
24    2040
23    2040
22    2040
21    2040
20    2040
19    2040
18    2040
17    2040
16    2040
15    2040
14    2040
13    2040
12    2040
11    2040
10    2040
9     2040
8     2040
7     2040
6     2040
5     2040
4     2040
3     2040
2     2040
29    2040
30    2040
31    2040
46    2040
58    2040
57    2040
56    2040
55    2040
54    2040
53    2040
52    2040
51    2040
50    2040
49    2040
48    2040
47    2040
45    2040
32    2040
44    2040
43    2040
42    2040
41    2040
40    2040
39    2040
38    2040
37    2040
36    2040
35    2040
34    2040
33    2040
1     2040
Name: num, dtype: int64

* 'num' column은 1부터 60까지의 값을 각각 2040개 갖음

###✓ Meaning of 0s

In [8]:
print(len(eda[eda['sunshine']==0.0]), len(eda[eda['non_elec_fac']==0.0]), len(eda[eda['solar_fac']==0.0]))

85394 38760 63240