<a href="https://colab.research.google.com/github/yoonyoung27/prac_class/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%82%AC%EC%9D%B4%EC%96%B8%EC%8A%A4_%ED%95%99%EC%8A%B5%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://zzsza.github.io/diary/2021/02/21/various-data-jobs/

https://brunch.co.kr/@parkkyunga/28

https://www.mobiinside.co.kr/2020/04/20/labbit-growth-hacking/

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
chicken_09 = pd.read_csv('/content/drive/MyDrive/chicken_09.csv')
chicken_09.head()

        기준일 요일 성별  연령대     시도  시군구  읍면동  업종  통화건수
0  20190901  일  여  30대  서울특별시  강남구  개포동  치킨     5
1  20190901  일  남  30대  서울특별시  강남구  논현동  치킨    20
2  20190901  일  남  30대  서울특별시  강남구  삼성동  치킨    20
3  20190901  일  남  30대  서울특별시  강남구  세곡동  치킨     5
4  20190901  일  남  30대  서울특별시  강남구  수서동  치킨     5

In [ ]:
chicken_09["요일"].value_counts()

일    4147
월    3694
토    3439
금    3371
수    3264
화    3105
목    3097
Name: 요일, dtype: int64

In [ ]:
chicken_09["시군구"].value_counts()

강남구     2149
강서구     1600
서초구     1429
중구      1362
서대문구    1324
영등포구    1254
마포구     1193
강동구     1099
구로구     1081
용산구     1069
송파구     1035
성북구      986
노원구      878
강북구      851
동대문구     827
성동구      818
은평구      749
중랑구      659
종로구      656
금천구      653
양천구      646
동작구      553
관악구      530
광진구      418
도봉구      298
Name: 시군구, dtype: int64

In [ ]:
pizza_09 = pd.read_csv('/content/drive/MyDrive/pizza_09.csv')
pizza_09.head()

         일자 요일 성별   연령 발신지_시도 발신지_구 발신지_동  통화건수
0  20190901  일  남  30대  서울특별시   강남구   삼성동     9
1  20190901  일  남  30대  서울특별시   강남구   논현동    10
2  20190901  일  남  30대  서울특별시   강남구   개포동     5
3  20190901  일  여  50대  서울특별시   강남구   삼성동     7
4  20190901  일  여  50대  서울특별시   강남구   도곡동     5

In [ ]:
pizza_09["요일"].value_counts()

일    3348
토    2750
월    2685
수    2420
금    2406
목    2358
화    2258
Name: 요일, dtype: int64

In [ ]:
pizza_09["발신지_구"].value_counts()

강서구     1434
강남구     1376
중구      1082
서초구     1047
서대문구    1037
강동구      934
영등포구     875
마포구      853
구로구      818
노원구      790
송파구      789
동대문구     778
강북구      771
성동구      733
성북구      660
용산구      597
중랑구      574
은평구      569
관악구      507
금천구      448
종로구      447
양천구      334
동작구      333
광진구      246
도봉구      193
Name: 발신지_구, dtype: int64

In [ ]:
import requests
from bs4 import BeautifulSoup

# URL을 읽어서 HTML를 받아오고,
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36'}
data = requests.get('https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=pnt&date=20200716', headers=headers)

# HTML을 BeautifulSoup이라는 라이브러리를 활용해 검색하기 용이한 상태로 만듦
soup = BeautifulSoup(data.text, 'html.parser')

# select를 이용해서, tr들을 불러오기
movies = soup.select('#old_content > table > tbody > tr')

# movies (tr들) 의 반복문을 돌리기
for movie in movies:
    # movie 안에 a 가 있으면,
    a_tag = movie.select_one('td.title > div > a')
    if a_tag is not None:
        # a의 text를 찍어본다.
        print(a_tag.text)

그린 북
가버나움
베일리 어게인
원더
포드 V 페라리
아일라
주전장
당갈
쇼생크 탈출
터미네이터 2:오리지널
보헤미안 랩소디
덕구
월-E
나 홀로 집에
아이즈 온 미 : 더 무비
라이언 일병 구하기
사운드 오브 뮤직
살인의 추억
매트릭스
인생은 아름다워
헬프
빽 투 더 퓨쳐
포레스트 검프
위대한 쇼맨
클래식
글래디에이터
센과 치히로의 행방불명
토이 스토리 3
타이타닉
알라딘
어벤져스: 엔드게임
안녕 베일리
죽은 시인의 사회
레옹
집으로...
헌터 킬러
반지의 제왕: 왕의 귀환
동주
아이 캔 스피크
캐스트 어웨이
히든 피겨스
굿바이 마이 프랜드
여인의 향기
굿 윌 헌팅
서유기 2 - 선리기연
클레멘타인
주토피아
쉰들러 리스트
달링
모노노케 히메